{% extends 'admin.html.twig' %}

{% block title %}Edit Ordonnance{% endblock %}

{% block body %}
<div style="margin-left: 280px; width: 80%">

    <h1>Edit Ordonnance</h1>

    {{ include('ordonnanceadmin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ordonnanceadmin_index') }}">back to list</a>

    {{ include('ordonnanceadmin/_delete_form.html.twig') }}
    </div>
{% endblock %}
