{% extends 'admin.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
<div class="b" style="margin-left:20%;">
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_admin_categorie_index') }}">Retourner</a>

    <a class="btn btn-primary" href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}">Modifier</a>

    {{ include('admin_categorie/_delete_form.html.twig') }}
    </div>
{% endblock %}
