{% extends 'base.html.twig' %}

{% block title %}New Doctor{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="background-color: #f5f5f5; border-radius: 5px; padding: 30px;">
            <h1 style="text-align: center;">Create new Doctor</h1>
              
            {{ include('doctor/_form.html.twig') }}
            
            {# <div style="display: flex; justify-content: center; margin-top: 20px;">
                <a href="{{ path('app_doctor_index') }}" class="btn btn-secondary">Back to List</a>
            </div> #}
        </div>
    </div>
{% endblock %} 


