{% extends 'basefordoctor.html.twig' %}
{% block title %} New Ordonnance{% endblock %}
 
{% block body %}

    <div id="meet" class="meet"></div>


 <script src='https://meet.jit.si/external_api.js'></script>
<script>
const domain = 'meet.jit.si';
const options = {
    roomName: '{{ user }}{{ medcin }}',
    width: 700,
    height: 700,
    parentNode: document.querySelector('#meet')
};
const api = new JitsiMeetExternalAPI(domain, options);
</script>

{% endblock %}